@charset "utf-8";

/* fonts */
@font-face{
    font-family: Mountains_OC;
    src: url(MountainsofChristmas-Regular.ttf) format('truetype'),
         url(MountainsofChristmas-Regular.woff) format('woff'),
         url(MountainsofChristmas-Regular.woff2) format('woff2');
}

/* page body styles */

html{
    background-color: white;
}

body{
    background-color: #FFE5D9;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* text styles */

h1{
    font-family: 'Mountains_OC', serif;
    font-size: 90px;
}

